<div class="page-width">
  {% if section.settings.title != blank %}
    <h2 class="section-header">{{ section.settings.title | escape }}</h2>
  {% endif %}

  {%- assign collection = collections[section.settings.collection] -%}
  <div class="grid">
    {% for product in collection.products limit: 6 %}
      <div class="grid__item small--one-half medium-up--one-third large-up--one-quarter">
        <a class="product-tile" href="{{ product.url | within: collection }}">

          {% if product.featured_image != blank %}
            <div class="product-img">
              {{ product.featured_image.src | img_url: '480x480' | img_tag: product.title }}
            </div>
          {% endif %}

          <p class="product-title truncate">
            {{ product.title }}
          </p>
          <p>
            {% if product.compare_at_price > product.price %}

              {% if product.price_varies %}
                {%- assign sale_price = product.price | money -%}
                {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
              {% else %}
                {{ 'products.product.on_sale' | t }}
                {{ product.price | money }}
              {% endif %}

            {% else %}

              {% if product.price_varies %}
                {%- assign price = product.price | money -%}
                {{ 'products.product.from_text_html' | t: price: price }}
              {% else %}
                {{ product.price | money }}
              {% endif %}

            {% endif %}
          </p>
        </a>
      </div>
    {% else %}

      {% for i in (1..6) %}
        <div class="grid__item small--one-half medium-up--one-third large-up--one-quarter">
          <a class="product-tile" href="#">
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            <div class="product-img">
              {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
            </div>
            <p class="product-title truncate">
              {{ 'homepage.onboarding.product_title' | t }}
            </p>
            <p class="product-price">{{ 1999 | money }}</p>
          </a>
        </div>
      {% endfor %}

    {% endfor %}
  </div>
</div>
{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }

{% endschema %}
